*{
    margin:0;
    padding:0;
}

h1 {
    font-size:90px;
    position:initial;
    font:"Times New Roman", Times, serif;
}

header{
    width:100%;
}

header div {
    width:100%;
    overflow: hidden;
    background: #FF7812;
    margin-bottom:20px;
}

nav{
    margin:20px auto;
    width:90%;
    max-width: width 1000px;
}

nav ul{
    list-style:none;
}

nav > ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background:#000;
    position: relative;
}

nav > ul li{
    display: table-cell;

}

nav > ul li a{
    color: #fff;
    display: block;
    list-style: height 20px;
    padding:20px;
    position: relative;
    text-align: center;
    text-decoration:none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > ul > li a:hover{
    background: #5da5a2;
}

nav > ul > li > a span {
    background: #f25724;
    display: block;
    height:100%;
    width:100%;
    left:0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > a span .icon {
    display: block;
    line-height:60px;
}

nav > ul > li > a:hover >span {
     top: 0;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.prueba{
    margin:10 px auto;
}